@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #f5f7fa;
}

button{
    cursor:pointer ;
}
a{
    text-decoration: none;
}

header{
   
    width: 100%;
    top: 0;
    background-color:#1e2a38 ;
    color :#fff;
    position:fixed;
}

.nav{
    display: flex;
    padding: 20px 0;

}

.links{
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-left: 500px;
    gap:30px;
    font-size: 20px;
}

a{
    color: #fff;
}

a:hover{
    color: #60a5fa;
}

.hero-section{
    background: linear-gradient(135deg,#2563eb,#60a5fa);
    color: #fff;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;
    margin-top: 75px;
}

.hero-section h1{
    font-size: 40px;
    
}

.hero-section button{
    padding: 10px;
    border-color: #facc15;
    border-radius: 10px;
    background: #facc15;
    color: #1e2a38;
}

.hero-section h1{
    margin-bottom: 20px;
    letter-spacing: 2px;
}

.hero-section p{
    margin-bottom: 20px;
}

.about-me{
    margin-top: 50px;
    background-color: #f8f9ff;
}

.about-me h1{
    text-align: center;
}

.about-me p{
    margin: 0 50px;
    font-size: 20px;
    letter-spacing: 2px;
}

.about-me img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin: 20px auto;
    display: block;
}

.conocimiento{
    display: flex;
    justify-content: center;
    text-align: center;
    list-style: none;
    gap: 30px;
    margin-top: 20px;
}

.conocimiento button {
    background-color: #3b5bdb;
    border: 1px solid #3b5bdb;
    border-radius:20px;
    padding: 5px 10px;
    color :#f8f99f;
}

.proyecto{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:50px;
    margin: 50px 0;
}

.subtitulo{
    text-align: center;
    margin: 20px 0;
}
.primer-proyecto{
    width: 300px;
    box-shadow: 0 0 10px ;
    border-radius: 10px;
    overflow: hidden;
    
}

.primer-proyecto:hover{
    transform: translateY(-4px);
    
}

.primer-proyecto img{
    width: 100%;
    height:350px;
    object-fit: cover;
}

.primer-proyecto button{
    padding: 10px;
    border-color: #facc15;
    border-radius: 10px;
    background: #facc15;
    color: #1e2a38;
    display:flex;
    justify-content: center;
    margin:0 auto;
    margin-top: 9px;
}

.content{
    padding: 10px;
}

.primer-proyecto h2{
    margin-bottom: 9px;
}